---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

// #mapmyvisitors {
//   width: 200px !important;
//   height: 180px !important;
//   max-width: 60%;
//   margin: 0 auto;
//   display: block;
// }
// @media (max-width: 400px) {
//   #mapmyvisitors {
//     width: 60% !important;
//     height: 150px !important;
//   }
// }

.map-container {
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
}
.map-container > div,
.map-container iframe {
  width: 100% !important;
  // height: 150px !important;
  display: block !important;
}

@media (max-width: 400px) {
  .map-container {
    width: 100%;
  }
  .map-container > div,
  .map-container iframe {
    height: 170px !important;
  }
}

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
